<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Targetfinder</title>
  <% if(htmlWebpackPlugin.options.build.dev || htmlWebpackPlugin.options.build.prod && !htmlWebpackPlugin.options.build.gl) { %>
    <link rel="stylesheet" type="text/css" href="/static/utopia/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/utopia/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/utopia/uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="/static/utopia/classic_theme/theme.css" />
  <% } else { %>
    <link rel="stylesheet" type="text/css" href="static/utopia/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/utopia/layout.css" />
    <link rel="stylesheet" type="text/css" href="static/utopia/uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="static/utopia/classic_theme/theme.css" />
  <% } %>

</head>

<body class="external-site">
  <div id="content-area">
     <% if(htmlWebpackPlugin.options.build.prod && htmlWebpackPlugin.options.build.gl) { %>
    <h2 style="padding:1em">This is a demo with stale data. Go to the live <a href="http://targetfinder.utopia-game.info">targetfinder</a></h2><br />
    <% } %>
    <% if(htmlWebpackPlugin.options.build.prod && !htmlWebpackPlugin.options.build.gl) { %>
      <div class="game-content" id="app" data-json-url="/api/currentJson">
        <!-- built files will be auto injected -->
      </div>
      <% } else if(htmlWebpackPlugin.options.build.prod) { %>
        <div class="game-content" id="app" data-json-url="static/sample.json" data-basic-only="true">
          <!-- built files will be auto injected -->
        </div>
        <% } else { %>
        <div class="game-content" id="app" data-json-url="http://127.0.0.1:8080/api/currentJson">
          <!-- built files will be auto injected -->
        </div>
        <% } %>
  </div>
</body>
</html>