<template>
  <span><header v-if="!basicOnly">Utopia Targetfinder: <router-link :to="{name: 'BasicProvinceList'}">Simple</router-link> <span /> <router-link :to="{name: 'FancyProvinceList'}">Fancy</router-link></header>
  <div  class="game-content" id="app"> 
    <router-view></router-view>
  </div>
  </span>
</template>

<script>
export default {
  name: 'app',
  props: ["basicOnly"]
}
</script>

<style lang="postcss">
.external-site .game-content {
  margin-right: auto;
  margin-left: auto;  
  float: none;
}
.external-site #content-area {
  padding: 0
}

.external-site header {
  background-color: rgba(48, 48, 48, 0.6);
  margin-bottom: 2em;
  padding: 1em;
  text-align: right;
  span  {
    width: 2px; 
    background: black;
    border-left: 1px solid rgba(150, 150, 150, 0.5);
    display: inline;
    height: 1em;
    position: relative;
    margin-right: 0.4em;
  }
}
</style>
