<template>
    <table>
        <thead>
            <th align="left" v-for="h in head" @click="sort(h)" :data-sorted="sortBy == h[1]" :data-sort-order="sortOrder" :style="{width: h[2]+'%'}"><span>{{Array.isArray(h) ? h[0] : h}}<i/></span></th>
        </thead>
        <tbody>
            <slot v-for="item in sortedItems" v-bind="item"></slot>
        </tbody>
    </table>
</template>

<script>
const resolvePath = require('object-resolve-path');
function getItemForCompare(o, path) {
    let item = resolvePath(o, path)
    if (typeof item === 'string') return item.toLowerCase()
    return item
}



export default {
    props: ["items", "head"],
    data() {
        return {
            sortBy: "name",
            sortOrder: "asc",
            prevSort: []
        }
    },
    computed: {
        sortedItems() {
            const sortFunction = (by, order, prevSort = [], depth = 0) => {
                depth++
                return (a, b) => {
                    let itemA = getItemForCompare(a, by)
                    let itemB = getItemForCompare(b, by)
                    if (itemA < itemB) {
                        return order == "asc" ? -1 : 1;
                    } else if (itemA > itemB) {
                        return order == "asc" ? 1 : -1;
                    } else if (depth <= 2) {
                        let p = null;
                        let prevCopy = prevSort.slice(0)
                        while (p = prevCopy.pop()) {
                            if (p.sortBy != by) {
                                //console.log(`reorder from ${by} to ${p.sortBy} ${depth}`)
                                return sortFunction(p.sortBy, p.sortOrder, prevCopy, depth)(a, b)
                            }
                        }
                        return 0
                    } else {
                        return 0
                    }
                }

            }
            let temp = this.items
            let sorter = sortFunction(this.sortBy, this.sortOrder, this.prevSort.slice(0))
            this.prevSort.push({ sortBy: this.sortBy, sortOrder: this.sortOrder })
            return temp.sort(sorter) // this.items.sort(sortFunction).slice(0, 20) // this.items.sort(sortFunction)
        }
    },
    methods: {
        sort(data) {
            if (Array.isArray(data) && data[1] !== null) {
                let item = data[1]
                if (this.sortBy == item) {
                    this.sortOrder = this.sortOrder == "asc" ? "desc" : "asc"
                }
                this.sortBy = item
            }
        }
    }
}
</script>

<style scoped>
table {
    table-layout: fixed;
}

th {
    cursor: pointer;
}

th span {
    display: inline;
    position: relative;
    padding-left: 0.0em;
}

thead th span i {
    filter: invert(1);
    -webkit-filter: invert(1);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    padding-left: 0.1em;
    top: 0.1em;
    position: absolute;
    display: inline-block;
}

thead th[data-sort-order="asc"][data-sorted] span i {
    background-image: url(../../assets/caret-up.svg);
}

thead th[data-sort-order="desc"][data-sorted] span i {
    background-image: url(../../assets/caret-down.svg);
}
</style>