<template>
    <div>
        <custom-table :items="kingdoms" :head="[
                    ['Kingdom', 'name', 16], 
                    ['KD Nw', 'nw', 5],
                    ['Stance', 'stance.stance', 5],
                    ['Wars', 'wars[1]', 4], 
                    ['Provs', 'count', 4], 
                    ['Races', null, 10]
                    ]">
            <template scope="kd">
                <tr>
                    <td>{{kd.name}} <a :href="'http://utopia-game.com/wol/game/kingdom_details/' + kd.loc.replace(':', '/')">({{kd.loc}})</a></td>
                     <td align="right">{{kd.nw | number}}</td>
                     <td>{{kd.stance.stance}}</td>
                     <td>{{kd.wars[0]}} / {{kd.wars[1]}}</td>
                     <td>{{kd.count}} <small>/ {{kd.protCount}}</small></td>
                     <td class="races">
                         <small v-for="v in kd.races">
                             <span>{{v.abbr}}: {{v.ct}}</span>
                             </small>
                    </td>                   
                </tr>
            </template>
        </custom-table>
    </div>
</template>

<script>
import Table from "@/components/common/Table"
export default {
    props: ["stances", "races", "range"],
    components: {
        'custom-table': Table
    },
    data() {
        return {
            kingdoms: []
        }
    },
    created() {
        this.fillKingdoms()
    },
    watch: {
        stances() {
            this.fillKingdoms()
        },
        races() {
            this.fillKingdoms()
        },
        range: {
            handler() {
                this.fillKingdoms()
            },
            deep: true
        },
        /*
        $route: {
            handler() {
                console.log("route change")
                this.fillKingdoms()
            },
            deep: true
        }
        */
        
    },
    methods: {
        fillKingdoms: function () {
            cachedApi().then((api) => {
                let kdlist = []
                api.kds((kd) => {
                    if (
                        //prov.nw >= this.range.nw.min && prov.nw <= this.range.nw.max
                        //&& prov.land >= this.range.acre.min && prov.land <= this.range.acre.max
                        //&& !prov.protected
                        kd.nw >= this.range.kdnw.min && kd.nw <= this.range.kdnw.max
                        && this.stances.includes(kd.stance.stance.toLowerCase())
                        //&& this.races.includes(prov.race.toLowerCase())
                    ) {
                      let kingdom = kd  
                      kingdom.protCount = 0
                      kingdom.races = {
                          avian: {ct:0, abbr: "A"},
                          human: {ct:0, abbr: "Hu"},
                          orc: {ct:0, abbr: "O"},
                          undead: {ct:0, abbr: "U"},
                          faery: {ct:0, abbr: "F"},
                          elf: {ct:0, abbr: "E"},
                          halfling: {ct:0, abbr: "Ha"},
                      }
                      kd.provinces.forEach((p) => {
                          if(p.protected === true) kingdom.protCount++
                          Object.keys(kingdom.races).forEach((race) => {
                              if(race == p.race.toLocaleLowerCase()) kingdom.races[race].ct++
                          })
                      });                    
                      kdlist.push(kingdom)
                    }
                })
                this.kingdoms = kdlist
            })
        }
    }

}
</script>

<style scoped>
td {
    vertical-align: middle;
}
td small {
    opacity: 0.5;    
}
td small span {
    display: inline-block
}
td.races small + small {
    margin-left: 1em;

}
</style>