<template>
    <div>
        <custom-table :items="provinces" :head="[
                    ['Province', 'name', 18], 
                    ['Race', 'race', 5], 
                    ['Nw', 'nw', 5], 
                    ['Land', 'land', 4],
                    ['NwA', 'nwa', 5],
                    ['Stance', 'kd.stance.stance', 5],
                    ['KD Nw', 'kd.nw', 6]
                    ]">
            <template scope="p">
                <tr>
                    <td rowspan=2 class="provName">{{p.name}} <a :href="'http://utopia-game.com/wol/game/kingdom_details/' + p.loc.replace(':', '/')">({{p.loc}})</a></td>
                    <td align="left">{{p.race}}</td>
                    <td align="right">{{p.nw | number}}</td>
                    <td align="right">{{p.land | number}}</td>
                    <td align="right">{{p.nwa | number}}</td>
                    <td>{{p.kd.stance.stance}}</td>
                    <td align="right">{{p.kd.nw | number}}</td>
                </tr>
                <tr style="display:none"></tr> <!-- hack to keep alternating rows going strong -->
                <tr> 
                    <td colspan=6 align=left><small>War loss 24h ago - last hit 12h ago - exploring 24 acres - honor: {{p.honor}}</small></td>
                </tr>
            </template>
        </custom-table>
    </div>
</template>

<script>
import Table from "@/components/common/Table"
export default {
    props: ["stances", "races", "range"],
    components: {
        'custom-table': Table
    },
    data() {
        return {
            provinces: []
        }
    },
    created() {
        this.fillProvinces()
    },
    watch: {
        stances() {
            this.fillProvinces()
        },
        races() {
            this.fillProvinces()
        },
        range: {
            handler() {
                this.fillProvinces()
            },
            deep: true
        },
        /*
        $route: {
            handler() {
                console.log("route change")
                this.fillProvinces()
            },
            deep: true
        }
        */
        
    },
    methods: {
        fillProvinces: function () {
            cachedApi().then((api) => {
                let plist = []
                api.provinces((kd, prov) => {
                    if (
                        prov.nw >= this.range.nw.min && prov.nw <= this.range.nw.max
                        && prov.land >= this.range.acre.min && prov.land <= this.range.acre.max
                        && !prov.protected
                        && kd.nw >= this.range.kdnw.min && kd.nw <= this.range.kdnw.max
                        && this.stances.includes(kd.stance.stance.toLowerCase())
                        && this.races.includes(prov.race.toLowerCase())
                    ) {
                        prov.kd = kd
                        prov.nwa = prov.nw / prov.land
                        plist.push(prov)
                    }
                })
                this.provinces = plist
            })
        }
    }

}
</script>

<style scoped>
.provName {
    vertical-align: middle;
    }

td small {
    opacity: 0.5;    
}    
</style>