<template>
    <div>
        <table>
            <thead>
                <tr>
                    <th> </th>
                    <th></th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
    
                <tr>
                    <th>Your Province</th>
                    <td>{{ selectedProvince }}</td>
                    <td class="offensive-points-field">
                        <div class="autocomplete-wrapper" v-on:mouseleave="autocompleteMouseHandler">
                            <div class="autocomplete" v-if="provincelistVisible">
                                <ul>
                                    <li v-for="item in suggestedProvinces" v-on:click="province = item; selectedProvince = item; provincelistVisible = false">
                                        {{ item }}
                                    </li>
                                </ul>
                            </div>
                            <input type="text" v-model="province" placeholder="Select your province" v-on:focus="provincelistVisible = true">
                        </div>
                    </td>
                </tr>
    
                <tr>
                    <th>NW Range</th>
                     <td><span v-show="range.nw.min != range.nw.max">{{range.nw.min | number}}gc to {{range.nw.max | number}}gc</span>
                    <td>
                        <input type="text" class="three-digit-input" v-model="nw.min"> % -
                        <input type="text" class="three-digit-input" v-model="nw.max"> %
                    </td>
                </tr>
    
                <tr>
                    <th>Acre Range</th>
                    <td><span v-show="range.acre.min != range.acre.max">{{range.acre.min | number}} to {{range.acre.max | number}} acres</span>
                    </td>
                    <td>
                        <input type="text" class="three-digit-input" v-model="acre.min"> % -
                        <input type="text" class="three-digit-input" v-model="acre.max"> %
                    </td>
                </tr>
    
                <tr>
                    <th>KD NW Range</th>
                    <td><span v-show="range.kdnw.min != range.kdnw.max">{{range.kdnw.min | number}}gc to {{range.kdnw.max | number}}gc</span>
                   
                    <td class="offensive-points-field">
                        <input type="text" class="three-digit-input" v-model="kdnw.min"> % -
                        <input type="text" class="three-digit-input" v-model="kdnw.max"> %
                    </td>
                </tr>
    
                <tr>
                    <th>Races</th>
                    <td colspan=2>
                        <label>avian
                            <input type="checkbox" v-model="races" value="avian">
                        </label>
                        <label>human
                            <input type="checkbox" v-model="races" value="human">
                        </label>
                        <label>orc
                            <input type="checkbox" v-model="races" value="orc">
                        </label>
                        <label>undead
                            <input type="checkbox" v-model="races" value="undead">
                        </label>
                        <label>faery
                            <input type="checkbox" v-model="races" value="faery">
                        </label>
                        <label>elf
                            <input type="checkbox" v-model="races" value="elf">
                        </label>
                        <label>halfling
                            <input type="checkbox" v-model="races" value="halfling">
                        </label>
                    </td>
                </tr>
    
                <tr>
                    <th>Stances</th>
                    <td colspan=2>
                        <label>normal
                            <input type="checkbox" v-model="stances" value="normal">
                        </label>
                        <label>fortified
                            <input type="checkbox" v-model="stances" value="fortified">
                        </label>
                        <label>aggressive
                            <input type="checkbox" v-model="stances" value="aggressive">
                        </label>
                        <label>war
                            <input type="checkbox" v-model="stances" value="war">
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="menu"><router-link :to="{name: 'FancyProvinceList'}">Provinces</router-link> - <router-link :to="{name: 'FancyKingdomList'}">Kingdoms</router-link></h2>
        <router-view v-bind:stances="stances" v-bind:races="races" v-bind:range="range"></router-view>
    </div>
</template>

<script> 
import saveState from 'vue-save-state';
export default { 
    mixins: [saveState],
    watch: {
        province: function (value) {
            this.provincelistVisible = true
            this.suggestedProvinces.length = 0
            let suggestedProvinces = this.suggestedProvinces
            if (value.length > 2) {
                cachedApi().then((api) => {
                    api.provsLike(value, function (s) {
                        suggestedProvinces.push(s)
                    })
                    if (suggestedProvinces.length == 1) {
                        this.selectedProvince = suggestedProvinces[0]
                        if (this.province == this.selectedProvince) {
                            this.provincelistVisible = false
                        }
                    }
                })

            }
            console.log(value)
        },
        selectedProvince: function (value) {
            let selectedProvinceData = this.selectedProvinceData
            cachedApi().then((api) => {
                api.provFor(value, (prov) => {
                    selectedProvinceData.prov = prov
                })
                api.kdFor(value, (kd) => {
                    selectedProvinceData.kd = kd

                })
            })
        },       
    },
    computed: {
        range() {
            function getRange(base, val) {
                return {
                    min: base.min * val / 100,
                    max: base.max * val / 100 
                }
            }
            let nwrange = "-"
            let acrerange = "-"
            let kdnwrange = "-"
            if (this.selectedProvinceData.prov) {
                nwrange = getRange(this.nw, this.selectedProvinceData.prov.nw)
                acrerange = getRange(this.acre, this.selectedProvinceData.prov.land)
            }
            if (this.selectedProvinceData.kd) {
                kdnwrange = getRange(this.kdnw, this.selectedProvinceData.kd.nw)
            }
            return { nw: nwrange, acre: acrerange, kdnw: kdnwrange }
        }
    },
    methods: {
        autocompleteMouseHandler() { 
            this.provincelistVisible = false
        },
         getSaveStateConfig() {
            return {
                'cacheKey': 'targetfinderState',
                'saveProperties': ['selectedProvince', 'nw', 'acre', 'kdnw', 'stances', 'races'],
                'onLoad': (key, value) => {
                    return value
                },
            }
        }
    },
    data() {
        return {
            province: '',
            selectedProvince: '',
            selectedProvinceData: { kd: null, prov: null },
            provincelistVisible: false,
            suggestedProvinces: [],
            nw: { min: 80, max: 120 },
            acre: { min: 50, max: 200 },
            kdnw: { min: 80, max: 120 },
            stances: ["normal", "aggressive", "fortified", "war"],
            races: ["avian", "undead", "orc", "human", "elf", "faery", "halfling"]
        }
    },

}
</script>  
<style scoped>
label {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.autocomplete-wrapper {
    display: inline-block;
    position: relative;
}

.autocomplete-wrapper input {
    position: relative;
}

.autocomplete {
    display: block;
    position: absolute;
    top: 0px;
    padding-top: 30px;
    left: 0px;
    background: black;
}

.autocomplete ul {
    background: black;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

.autocomplete ul li {
    display: block;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

h2.menu {
    margin-bottom: 1em;
}
</style>
